*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: #f1f1f1;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    
    display: inline-block;
    color: #3788ff;
    font-weight: bolder;
    margin: 0 2rem;
}

.logo-img{
    width: 6rem;
    height: 6rem;
    border-radius: 10%;
}

.view-product-img{
    height: 5rem;
    width: 5rem;
}

.img-card-view{
    width: 100%;
    height: 12rem;
}